                               Assignment No 16 (Python Basics)

Que1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
      the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
      [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
years_list = [i for i in range(1996,1996+6)]
print(years_list)

[1996, 1997, 1998, 1999, 2000, 2001]

Que2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
      first year.

In [3]:
print(years_list[3])

1999

Que3. In the years list, which year were you the oldest?

In [4]:
print(years_list[-1])

2001

Que4. Make a list called things with these three strings as elements: "mozzarella", "cinderella",
      "salmonella".

In [5]:
things = ['mozzar', 'cinder', 'salmon']
for i in things:
    print(i+'ella')

mozzarella
cinderella
salmonella

Que5. Capitalize the element in things that refers to a person and then print the list. Did it change the
      element in the list?

In [6]:
things = ['mozzarella', 'cinderella', 'salmonella']
for i in range(len(things)):
    if things[i] == 'cindeaella':
        things[i] = things[i].capitalize()
print(things)

['mozzarella', 'cinderella', 'salmonella']

Que6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [7]:
surprise_list = ['Groucho','Chico','Harpo']
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

Que7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
surprise_list = ['Groucho','Chico','Harpo']

In [9]:
surprise_list[-1].lower()

'harpo'

In [10]:
surprise_list[-1][::-1]

'opraH'

In [11]:
surprise_list[-1][::-1].capitalize()

'Oprah'

Que8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
      chien, cat is chat, and walrus is morse.

In [12]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Que9. Write the French word for walrus in your three-word dictionary e2f.

In [13]:
e2f['walrus']

'morse'

Que10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [14]:
f2e = dict([ele[::-1] for ele in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Que11. Print the English version of the French word chien using f2e.

In [15]:
f2e['chien']

'dog'

Que12. Make and print a set of English words from the keys in e2f.

In [16]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

Que 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.             Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key             refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty               dictionaries.

In [18]:
life = {
    'animals':{
        'cats':['Henri','Grumpy','Lucy'],
        'octopi':{},
        'emus':{}
    },
    'plants':{},
    'other':{}
}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

Que14. Print the top-level keys of life.

In [19]:
print(list(life.keys()))

['animals', 'plants', 'other']

Que15. Print the keys for life['animals'].

In [20]:
print(list(life['animals'].keys()))

['cats', 'octopi', 'emus']

Que16. Print the values for life['animals']['cats']

In [21]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']