                                Programming Assignment No 02

In [2]:
 # Question No 1:  Write a Python program to convert kilometers to miles?
    
 km = float(input("Enter Kilometer:"))

 miles = km* 0.621371
    
 print("Totaal km converters into Miles",miles)

Enter Kilometer:10.5
Totaal km converters into Miles 6.5243955

In [3]:
 def km_to_miles():
     km = float(input("Enter Kilometer:"))
     miles = km* 0.621371
     print("km is converted into miles:", miles)

 km_to_miles()

Enter Kilometer:10.5
km is converted into miles: 6.5243955

In [4]:
 #Question No 2:  Write a Python program to convert Celsius to Fahrenheit?
    
 celsius = float(input("Degree of celcius: "))
 
 fahrenheit = (celsius * 9/5) + 32
 print("Degree celsius converted into fahrenheight: ", fahrenheit)

Degree of celcius: 40
Degree celsius converted into fahrenheight:  104.0

In [5]:
 def celsius_to_fahrenheit():
        
     celsius = float(input("Degree of celsius: "))   
     fahrenheit = (celsius * 9/5) + 32
        
     print("{} Degree celsius is equal to {} Degree fahrenheit". format(celsius, fahrenheit) )
    
 celsius_to_fahrenheit()

Degree of celsius: 40
40.0 Degree celsius is equal to 104.0 Degree fahrenheit

In [1]:
 #Question No 3:  Write a Python program to display calendar?
    
 import calendar

 year = int(input("Display of year: "))
 month = int(input ("Display of Month: "))

 print(calendar.month(year,month))

Display of year: 1994
Display of Month: 6
     June 1994
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [2]:
 import calendar 
    
 year = int(input("Display of Calender year: "))
 
 print(calendar.calendar (year))

Display of Calender year: 1994
                                  1994

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [6]:
 def display_calendar():
     year = int(input("Display of calendar year: "))
     month = int(input("Display of Month: "))
     print(calendar.month(year,month))   
 display_calendar()

Display of calendar year: 1994
Display of Month: 6
     June 1994
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [7]:
 def display_calendar():
     year = int(input("Display of calendar year: "))
    
     print(calendar.calendar(year))
 display_calendar()

Display of calendar year: 1994
                                  1994

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [8]:
 #Question No 4:  Write a Python program to solve quadratic equation?
    
 # Our quadratic equation is ax^2bx+c = 0

 # x = (-b+- sqrt(b**2 - 4-a*c)/ 2*a)
    
 import cmath
 import math
    
 a = float(input("Enter 'a' Values: "))
 b = float(input("Enter 'b' Values: "))
 c = float(input("Enter 'c' Values: "))

 print("Quadratic eqution is {}x^2 + {}x + {} = 0". format(a,b,c))
    
 if a == 0:
    print("a is not equal to zero")
 else:
     r = (b ** 2) - (4 * a * c)
     x1 = (-b + cmath.sqrt(r))/2 * a 
     
     x2 = (-b - cmath.sqrt(r))/2 * a 
    
     print("Values of our quadratic eqution are {} and {}". format(x1,x2))

Enter 'a' Values: 1
Enter 'b' Values: 1
Enter 'c' Values: -2
Quadratic eqution is 1.0x^2 + 1.0x + -2.0 = 0
Values of our quadratic eqution are (1+0j) and (-2+0j)

In [10]:
 #Question No 5:  Write a Python program to swap two variables without temp variable?
    
 num_1 = float(input("Enter First Number: "))
 num_2 = float(input("Enter Second Number: "))
    
 print("Before Swping", "num_1 is",num_1, "num_2 is",num_2)
 
 num_1,num_2 = num_2,num_1

 print("After Swaping", "num_1 is",num_1, "num_2 is", num_2)

Enter First Number: 10
Enter Second Number: 22
Before Swping num_1 is 10.0 num_2 is 22.0
After Swaping num_1 is 22.0 num_2 is 10.0

In [11]:
 num_1 = float(input("Enter first Number: "))
 num_2 = float(input("Enter Second Number: "))

 print('Before Swapping num_1 is {} and num_2 is {}'. format(num_1,num_2))
    
 num_1 = num_1 + num_2
 num_2 = num_1 - num_2
 num_1 = num_1 - num_2

 print('After Swapping num_1 is {} and num_2 is {}'. format(num_1,num_2))

Enter first Number: 10
Enter Second Number: 22
Before Swapping num_1 is 10.0 and num_2 is 22.0
After Swapping num_1 is 22.0 and num_2 is 10.0

In [13]:
 def swap_variable():
     num_1 = float(input("Enter first Number: "))
     num_2 = float(input("Enter Second Number: "))
        
     print(print('Before swapping num_1 is {} and num_2 is {}'. format(num_1,num_2)))
    
     num_1,num_2 = num_2,num_1
        
     print('After Swapping num_1 is {} and num_2 is {}'. format(num_1,num_2))  
    
 swap_variable()

Enter first Number: 10
Enter Second Number: 22
Before swapping num_1 is 10.0 and num_2 is 22.0
None
After Swapping num_1 is 22.0 and num_2 is 10.0